@import '../../theme/index.less';

.container{
  padding: 0 18px;
  text-align: right;

  a{
    display: inline-block;
    padding: 0 15px;
    width: 118px;
    height: 34px;
    line-height: 30px;
    text-align: left;
    background: @color_yellow;
    border: 2px solid @color_yellow;
    border-radius:17px;
    position: relative;
    span{
      color: #282D39;
      font-size: 14px;
    }
    i{
      display: block;
      width:30px;
      height:30px;
      border-radius: 50%;
      background: url(../../assets/com/user@2x.png) no-repeat center center @color_yellow2;
      background-size: auto 12px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -15px;

    }
  }

}
